@inherits UserViewComponentBase
@implements IAsyncGroupSubscriber

@using Bamboozlers.Classes.AppDbContext
@using AngleSharp.Diffing.Extensions
@using Bamboozlers.Classes.Data
@using Bamboozlers.Classes.Services
@using Bamboozlers.Classes.Services.UserServices
@using Bamboozlers.Components.VisualUtility
@using Microsoft.IdentityModel.Tokens
@using Bamboozlers.Classes.Utility.Observer
@inject IDbContextFactory<AppDbContext> Db

<ModalContent Centered>
    <ModalHeader>
        <ModalTitle>Invite Friends to @(Chat is null ? "Group" : Chat.Name)</ModalTitle>
        <CloseButton/>
    </ModalHeader>
    <ModalBody>
        <Div Style="display: block">
            @InviteList
        </Div>
    </ModalBody>
</ModalContent>

@code{
    [Inject] private IUserGroupService UserGroupService { get; set; } = default!;
    
    [CascadingParameter] public EventCallback<PopupCallbackArgs> OpenPopupCallback { get; set; }
    [CascadingParameter] public EventCallback ClosePopupCallback { get; set; }

    [Parameter] public int? ChatID { get; set; }
    public List<int?> WatchedIDs { get; set; } = [];
    
    private GroupChat? Chat { get; set; }
    private RenderFragment? InviteList { get; set; }
    
    private User? Self { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        UserGroupService.AddSubscriber(this);
        WatchedIDs = [ChatID];
        await LoadGroupData();
    }
    
    private async Task LoadGroupData()
    {
        Self = await AuthService.GetUser();
        if (Self is null) 
            return;
        
        await using var db = await Db.CreateDbContextAsync();
        
        Chat = db.GroupChats.Where(c => c.ID == ChatID)
            .Include(c => c.Users)
            .Include(c => c.Moderators)
            .First();

        var friendList = (await Self.GetFriends(db)).ToList();
        var inGroup = friendList.Where(
                f => Chat.Users.FirstOrDefault(u => u.UserName == f.UserName) is not null
            ).ToList();
        var notInGroup = friendList.Except(inGroup).ToList();

        var allInvites = await UserGroupService.GetAllOutgoingInvites();
        var invitesForGroup = allInvites is not null 
            ? allInvites.Where(i => i.GroupID == ChatID) 
            : [];
        
        var invitedFriends = invitesForGroup
            .Select(i => friendList.FirstOrDefault(u => u.Id == i.RecipientID))
            .Where(u => u != null)
            .ToList();

        InviteList = @<text>
                          @foreach (var user in friendList)
                          {
                              <div id="@($"{user.UserName}-display")" style="display: inline-block; width: max-content;">
                                  <Image Class="_32x32 message-avatar"
                                         Source=@(user.Avatar is null ? "images/default_profile.png" : $"data:image/png;base64,{Convert.ToBase64String(user.Avatar)}")
                                         alt=""/>
                                  <CompInteractUsername User="@user"/>
                                  @if (inGroup.Contains(user))
                                  {
                                      @GetActionButton(Color.Dark,
                                          "Already in group",
                                          null,
                                          EventCallback.Empty,
                                          true
                                      )
                                  }
                                  else
                                  {
                                      if (invitedFriends.Contains(user))
                                      {
                                          @GetActionButton(Color.Danger,
                                              "Revoke Invitation",
                                              IconName.Ban,
                                              new EventCallbackFactory().Create(this, async () => await UserGroupService.RevokeGroupInvite(ChatID, user.Id)))
                                      }
                                      else
                                      {
                                          @GetActionButton(null,
                                              "Invite",
                                              IconName.UserPlus,
                                              new EventCallbackFactory().Create(this, async () => await UserGroupService.SendGroupInvite(ChatID, user.Id)))
                                      }
                                  }
                              </div>
                              <Divider/>
                          }
                      </text>;
    }
    
    private RenderFragment GetActionButton(Color? color, string? caption, IconName? iconName, EventCallback? actionCallback, bool disabled = false)
    {
        return @<div id="@($"action-button")" style="display: inline-block; float: right; margin-left: 5px; margin-right: 5px;">
                   <CompActionButton ButtonCaption="@caption"
                                     Color="@(color ?? Color.Success)"
                                     IconName="@(iconName ?? null)"
                                     ColumnWrapped="@false"
                                     ActionCallback="@(actionCallback ?? EventCallback.Empty)"
                                     Disabled="@disabled"/>
               </div>;
    }
    
    public async Task OnGroupUpdate()
    {
        await LoadGroupData();
        StateHasChanged();
    }
}

