@using Bamboozlers.Classes.AppDbContext
@inject IDbContextFactory<AppDbContext> _db;
@rendermode InteractiveServer

<h3>Renamed Test Component</h3>
<button type="button" class="btn btn-success" @onclick="@Add">Add New test table row</button>
@if(RenamedTestTables == null)
{
    <p>RenamedTestTables is empty</p>
}
else
{
    @foreach(RenamedTestTable renamedTestTable in RenamedTestTables)
    {
        <div class="d-flex m-4">
            <p>@renamedTestTable.Name @renamedTestTable.Id</p>
            <button type="button" class="btn btn-danger d-inline mx-4" @onclick="@(() => Delete(renamedTestTable))">Delete test table row number @renamedTestTable.Id</button>
        </div>
        
    }
}

<br/>

@code {
    public List<RenamedTestTable> RenamedTestTables { get; set; }
    protected override async Task OnInitializedAsync()
    {
        await using var db = await _db.CreateDbContextAsync();
        RenamedTestTables = await db.RenamedTestTable.ToListAsync();
    }
    
    public void Add()
    {
        try
        {
            using var db = _db.CreateDbContext();
            RenamedTestTable renamedTestTable = new RenamedTestTable()
            {
                Name = "test"
            };
            db.RenamedTestTable.Add(renamedTestTable);
            db.SaveChanges();
            RenamedTestTables = db.RenamedTestTable.ToList();
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine(ex.Message);
        }
        
    }
    
    public void Delete(RenamedTestTable renamedTestTable)
    {
        try
        {
            using var db = _db.CreateDbContext();
            db.RenamedTestTable.Remove(renamedTestTable);
            db.SaveChanges();
            RenamedTestTables = db.RenamedTestTable.ToList();
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine(ex.Message);
        }
        
    }
}