
<Column ColumnSize="@ColumnWidth" Class="centre-content" Margin="Margin.Is2">
    <Button id="@ButtonId"
            Color="@Color"
            Width="@ButtonWidth"
            Type="@ButtonType"
            Clicked="ExecuteCallback">
        <Icon Name="@IconName"/>
        @ButtonCaption
    </Button>
</Column>

@code {

    [Parameter] public EventCallback ActionCallback { get; set; }
    
    [Parameter] public Color Color { get; set; } = Color.Success;
    
    [Parameter] public IFluentColumn ColumnWidth { get; set; } = ColumnSize.Is1;
    
    [Parameter] public IFluentSizing ButtonWidth { get; set; } = Width.Auto;

    [Parameter] public string? ButtonCaption { get; set; }
    
    [Parameter] public string? ButtonId { get; set; }

    [Parameter] public ButtonType ButtonType { get; set; } = ButtonType.Button;

    [Parameter] public IconName? IconName { get; set; }

    private async void ExecuteCallback()
    {
        await ActionCallback.InvokeAsync();
    }
}