@inherits UserViewComponentBase
@implements IInteractionSubscriber

@using Bamboozlers.Classes.AppDbContext
@using Bamboozlers.Classes.Data
@using Bamboozlers.Classes.Services
@using Bamboozlers.Classes.Services.UserServices
@using Bamboozlers.Classes.Utility.Observer
@using Bamboozlers.Components.VisualUtility
@using Blazorise.Extensions

@inject ILogger<CompAddFriend> Logger

<ModalContent Size="ModalSize.Large" Centered>
    <ModalHeader>
        <ModalTitle>Add Friends</ModalTitle>
        <CloseButton/>
    </ModalHeader>
    <ModalBody>
        <Heading>Find users by their username or display name.</Heading>
        <Divider/>
        <Div Style="display: block">
            <div style="display: block;">
                <TextEdit @bind-Text="SearchQuery"
                          Style="display: inline-flex; width: 75%"
                          ElementId="search-bar"
                          KeyPress="@(async () => await PerformSearch())"
                          MaskType="MaskType.RegEx"
                          EditMask="^(?:_?[a-zA-Z0-9]+)*_?$"
                          Placeholder="Find users by their username or display name"/>
                <div style="display: inline-flex">
                    <CompActionButton ActionCallback="@(async () => await PerformSearch())"
                                      IconName="@IconName.Search"
                                      ColumnWrapped="@false"/>
                </div>
            </div>
            <div style="display: block; margin-left: 5px; margin-right: 5px;" class="settings-container scrollbar-container">
                <Divider/>
                @if (SearchList.Count > 0)
                {
                    foreach (var fragment in SearchList)
                    {
                        @fragment
                    }
                }
            </div>
        </Div>
    </ModalBody>
</ModalContent>

@code {
    [Inject] private IDbContextFactory<AppDbContext> DbContextFactory { get; set; } = default!;
    [Inject] private IUserInteractionService UserInteractionService { get; set; } = default!;
    [Inject] private IUserGroupService UserGroupService { get; set; } = default!;
    [Inject] private IKeyPressService KeyPressService { get; set; } = default!;

    private List<RenderFragment> SearchList { get; set; } = [];
    private List<User> CurrentSearchResults { get; set; } = [];

    private string SearchQuery { get; set; } = "";

    private User Self { get; set; } = default!;
    private List<User> Ignore { get; set;} = [];

    protected override async Task OnInitializedAsync()
    {
        Self = (await AuthService.GetUser())!;
        UserInteractionService.AddSubscriber(this);
        await GetInteractionData();
    }
    
    public RenderFragment GetUserFragment(User user, bool sentFr = false, bool receivedFr = false)
    {
        var eventType = InteractionEvent.RequestSent;
        if (sentFr) eventType = InteractionEvent.RequestAccepted;
        else if (receivedFr) eventType = InteractionEvent.RequestPending;
        
        return @<text>
                    <div style="display: block; margin-top: 5px; margin-bottom: 5px;" id="@($"user-{user.UserName}")">
                        <CompInlineUserWithAvatar User="@user"/>
                        <CompInteractionButton EventKind="@eventType"
                                               RightFloating="@true"
                                               UserId="@user.Id"
                                               ButtonId="interact-button"/>
                        <Divider/>
                    </div>
                </text>;
    }

    private async Task PerformSearch()
    {
        if (SearchQuery.Length == 0)
            return;
        
        Logger.LogInformation("Generating search list...");
        await using var dbContext = await DbContextFactory.CreateDbContextAsync();

        var useQuery = SearchQuery.ToLower();
        var matches = dbContext.Users.Where(
                u => (u.UserName != null && u.UserName.ToLower().StartsWith(useQuery))
                     || (u.DisplayName != null && u.DisplayName.ToLower().StartsWith(useQuery)))
            .Where(u => !Ignore.Contains(u));
        
        var len = matches.Count();
        CurrentSearchResults = matches.Take(int.Max(len,100)).ToList();

        await GenerateList();
        StateHasChanged();
    }

    private async Task GenerateList()
    {
        var incoming = await UserInteractionService.GetAllIncomingRequests();
        var outgoing = await UserInteractionService.GetAllOutgoingRequests();
        
        SearchList = CurrentSearchResults
            .Select(u =>
            {
                if (incoming.FirstOrDefault(fr => fr.SenderID == u.Id) is not null)
                    return GetUserFragment(u, sentFr: true);
                return outgoing.FirstOrDefault(fr => fr.ReceiverID == u.Id) is not null 
                    ? GetUserFragment(u, receivedFr: true) 
                    : GetUserFragment(u);
            })
            .ToList();
    }

    private async Task GetInteractionData()
    {
        Ignore = [Self];
        Ignore.AddRange(await UserInteractionService.GetAllFriends());
        Ignore.AddRange(await UserInteractionService.GetAllBlocked());
        Ignore.AddRange(await UserInteractionService.GetAllBlockedBy());
    }

    public List<InteractionEvent> WatchedInteractionEvents { get; set; } =
    [
        InteractionEvent.RequestSent
    ];

    public async Task OnUpdate(InteractionEvent evt)
    {
        await GetInteractionData();
        await GenerateList();
        StateHasChanged();
    }
}


