
@inherits CompSettings

<Container Width="Width.Is100">
    <Row>
        <Column ColumnSize="ColumnSize.Is4">
            <Row>
                <CompAvatar EditingAllowed="@EditingAllowed" DataChangeCallback="@DataChangeCallback"/> 
            </Row>
        </Column>
        <Column ColumnSize="ColumnSize.Is8">
            @if (EditingAllowed)
            {
                <Row>
                    <CompEditUsername DataChangeCallback="@DataChangeCallback"/>  
                </Row>
                <Row><br/></Row>
                <Row><Divider/></Row>
                <Row><br/></Row>
                <Row>
                    <CompEditDisplayName DataChangeCallback="@DataChangeCallback"/>
                </Row>
                <Row><br/></Row>
                <Row><Divider/></Row>
                <Row><br/></Row>
                <Row>
                    <Label class="form-label">Description</Label>
                    <InputTextArea type="text" @bind-Value="@UserModel.U.Bio" class="form-control"/>
                </Row>
            }
            else
            {
                <Row>
                    <Text>@UserModel.U.UserName</Text>
                </Row>
                <Row>
                    <Text>@UserModel.U.DisplayName</Text>
                </Row>
            }
        </Column>
    </Row>
</Container>