@attribute [Authorize]

@inherits ComponentBase

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IdentityRedirectManager IdentityRedirectManager

<Modal @bind-Visible="@Visible">
    <ModalContent Centered Size="ModalSize.ExtraLarge">
        <ModalHeader>
            <h3>Account Settings</h3>
            <CloseButton/>
        </ModalHeader>
        <ModalBody>
            <Alert Color="@CallbackArgs.StatusColor"
                   Visible="@CallbackArgs.StatusVisible">
                <AlertMessage>
                    @CallbackArgs.StatusMessage
                </AlertMessage>
                <AlertDescription>
                    @CallbackArgs.StatusDescription
                </AlertDescription>
            </Alert>
            <Divider/>
            @if (User != null)
            {
                <Tabs RenderMode="TabsRenderMode.LazyReload" @bind-SelectedTab="SectionName">
                    <Items>
                        <Tab Name="User Profile">Profile</Tab>
                        <Tab Name="Email Address">Email Address</Tab>
                        <Tab Name="Password">Password</Tab>
                        <Tab Name="Delete">Account Management</Tab>
                    </Items>
                    <Content>
                        <TabPanel Name="User Profile" Margin="Margin.Is2.OnMobile.Is5.OnDesktop">
                            <CompProfile StatusCallback="OnStatusUpdate" EditingAllowed="true"/>
                        </TabPanel>
                        <TabPanel Name="Email Address" Margin="Margin.Is2.OnMobile.Is5.OnDesktop">
                            <CompEditEmail StatusCallback="OnStatusUpdate"/>
                        </TabPanel>
                        <TabPanel Name="Password" Margin="Margin.Is2.OnMobile.Is5.OnDesktop">
                            <CompEditPassword StatusCallback="OnStatusUpdate"/>
                        </TabPanel>
                        <TabPanel Name="Delete" Margin="Margin.Is2.OnMobile.Is5.OnDesktop">
                            <CompDeleteAccount StatusCallback="OnStatusUpdate"/>
                        </TabPanel>
                    </Content>
                </Tabs>
            }
        </ModalBody>
        <ModalFooter>
            <Form action="Account/Logout" method="post">
                <AntiforgeryToken/>
                <input type="hidden" name="ReturnUrl" value="Account/Login"/>
                <Button Color="Color.Primary" Type="ButtonType.Submit">
                    Log Out
                </Button>
            </Form>
        </ModalFooter>
    </ModalContent>
</Modal>