@using System.Data
@inherits SettingsComponentBase

@inject IDbContextFactory<AppDbContext> Db
@inject UserManager<User> UserManager
@inject NavigationManager NavigationManager
@inject ILogger<CompSettings> Logger
@inject IJSRuntime JsRuntime

<Modal ElementId="container" @bind-Visible="@Visible" Closed="@(async Task () =>
                                        {
                                            await OnStatusUpdate(new StatusArguments()); 
                                            SectionName = "User Profile"; 
                                        })">
    <ModalContent Centered Size="ModalSize.ExtraLarge">
        <ModalHeader>
            <h3>Account Settings</h3>
            <CloseButton/>
        </ModalHeader>
        <ModalBody>
            <Alert ElementId="status-alert" Color="@Arguments.StatusColor"
                   Visible="@Arguments.StatusVisible">
                <AlertMessage ElementId="status-message">
                    @Arguments.StatusMessage
                </AlertMessage>
                <AlertDescription ElementId="status-description">
                    @Arguments.StatusDescription
                </AlertDescription>
            </Alert>
            <Divider/>
            <Tabs @bind-SelectedTab="SectionName">
                <Items>
                    <Tab Name="User Profile">Profile</Tab>
                    <Tab Name="Login Details">Login Details</Tab>
                    <Tab Name="Delete">Account Management</Tab>
                </Items>
                <Content>
                    <TabPanel Name="User Profile" Margin="Margin.Is2.OnMobile.Is5.OnDesktop">
                        <Container Width="Width.Is100">
                            <Row>
                                <Column ColumnSize="ColumnSize.Is4">
                                    <Row>
                                        <CompEditAvatar StatusChangeEvent="OnStatusUpdate" DataChangeFunction="OnDataChange"/> 
                                    </Row>
                                </Column>
                                <Column ColumnSize="ColumnSize.Is8">
                                    <Row>
                                        <CompEditUsername StatusChangeEvent="OnStatusUpdate" DataChangeFunction="OnDataChange"/>  
                                    </Row>
                                    <CompSimpleDivider/>
                                    <Row>
                                        <CompEditDisplayName StatusChangeEvent="OnStatusUpdate" DataChangeFunction="OnDataChange"/>
                                    </Row>
                                    <CompSimpleDivider/>
                                    <Row>
                                        <CompEditBio StatusChangeEvent="OnStatusUpdate" DataChangeFunction="OnDataChange"/>
                                    </Row>
                                </Column>
                            </Row>
                        </Container>
                    </TabPanel>
                    <TabPanel Name="Login Details" Margin="Margin.Is2.OnMobile.Is5.OnDesktop">
                        <Container Width="Width.Is100">
                            <Row>
                                <Column>
                                    <Row>
                                        <CompEditEmail StatusChangeEvent="OnStatusUpdate" DataChangeFunction="OnDataChange"/>  
                                    </Row>
                                    <CompSimpleDivider/>
                                    <Row>
                                        <CompEditPassword StatusChangeEvent="OnStatusUpdate" DataChangeFunction="OnDataChange"/>  
                                    </Row>
                                </Column>
                            </Row>
                        </Container>
                    </TabPanel>
                    <TabPanel Name="Delete" Margin="Margin.Is2.OnMobile.Is5.OnDesktop">
                        <CompDeleteAccount StatusChangeEvent="OnStatusUpdate" DataChangeFunction="OnDataChange"/>
                    </TabPanel>
                </Content>
            </Tabs>
        </ModalBody>
        <ModalFooter>
            <Form id="logout-form" action="Account/Logout" method="post">
                <AntiforgeryToken/>
                <input id="loginRedirectMessage" type="hidden" value="You have been logged out."/>
                <Button Color="Color.Primary" Type="ButtonType.Submit">
                    Log Out
                </Button>
            </Form>
        </ModalFooter>
    </ModalContent>
</Modal>

<form id="send-confirmation-email" action="Account/SendConfirmationEmail" method="post">
    <AntiforgeryToken/>
    <input id="userId" type="hidden" value=""/>
    <input id="newEmail" type="hidden" value=""/>
</form>

<script>
    window.forceLogout = function() {
        document.getElementById("loginRedirectMessage").setAttribute("value","Your account has been deleted.");
        document.getElementById("logout-form").submit();
    }
    
    window.sendNewEmailConfirmation = function(userId, newEmail) {
        document.getElementById("userId").setAttribute("value",""+userId);
        document.getElementById("newEmail").setAttribute("value",""+newEmail);
        document.getElementById("send-confirmation-email").submit();
    }
</script>